<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <link th:href="@{/styles/styles.css}" rel="stylesheet"/>
  <title>Register</title>
</head>
<body>
<a th:href="@{/}" >Home <span class="bredc-decoration"> > </span></a>
<span>Login</span>

<div class="login-title-wrapper">
    <h3>
        Login in your wallet
    </h3>
</div>

<form class="center register-form login-center" action="#" th:action="@{/loginUser}" th:object="${user}" method="post">
    <table border="1" class="table">
        <tr>
            <td><label th:text="'Email: '"/></td>
            <td><input type="text" th:field="*{userEmail}" required/></td>
        </tr>
        <tr>
            <td><label th:text="'Password: '"/></td>
            <td><input type="password" th:field="*{userPassword}" required/></td>
        </tr>

    </table>
    <input type="submit" value="Submit" class="submit"/>
</form>

<a th:href="@{/register}" class="center anchor-position">Create account</a>

</body>
</html>