<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<html>
<head>
    <link th:href="@{/styles/styles.css}" rel="stylesheet"/>
    <title>Wallet Details</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body class="details-body">

<a th:href="@{/}">Home<span class="bredc-decoration"> > </span></a>
<a th:href="@{/login}">Login<span class="bredc-decoration"> > </span></a>
<span>Wallet details</span>

<h2 class="hello-title" th:text="'Hello, ' + ${user.getUserName()} + '!'"></h2>
<div class="details-wrapper">
    <div class="asset-history-container">
        <div class="asset-container">
            <h3 th:text="${myAssetsList.isEmpty()} ? 'No assets.' : 'Asset'"></h3>
            <table th:if="${!myAssetsList.isEmpty()}" border="1" class="table table-asset"
                   style="border: 1px solid cyan">
                <thead>
                <tr>
                    <td>Coin</td>
                    <td class="cell-width">Amount</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="asset: ${myAssetsList}">
                    <td th:text="${asset.coinSymbol}"/>
                    <td th:text="${asset.coinAmount}" class="cell-amount"/>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="history-container">
            <h2>History</h2>
        </div>
    </div>
    <div class="transaction-form-wrapper">
        <form action="#" data-th-action="@{/action}" data-th-object="${newTransaction}" method="post">

            <div class="btns-wrapper label-wrapper">
                <label th:text="'Source coin: '" class="source-coin-label"/>
                <label th:text="'Target coin: '" class="target-coin-label"/>
            </div>

            <div class="transaction-view">
                <select class="symbol-select select-bkg-old" id="oldCoin" name="oldCoin"
                        th:field="*{oldCurrencySymbol}">
                    <option th:each="coin : ${superCoinList}" th:value="${coin.getCoinId()}"
                            th:text="${coin.getCoinSymbol()}">
                    </option>
                </select>
                <div class="transaction-view-borders">
                    <input placeholder="Amount" type="number" step=0.01 th:field="*{transactionAmount}"/>
                </div>
                <select class="symbol-select select-bkg-new" id="newCoin" name="newCoin"
                        th:field="*{newCurrencySymbol}">
                    <option th:each="coin : ${superCoinList}" th:value="${coin.getCoinId()}"
                            th:text="${coin.getCoinSymbol()}">
                    </option>
                </select>
            </div>
            </br>
            <div class="btns-wrapper">
                <button class="submit transaction-submit buy" type="submit" name="action" value="buy">Buy</button>
                <button class="submit transaction-submit exchange" type="submit" name="action" value="exchange">
                    Exchange
                </button>
            </div>
        </form>
        <form action="#" data-th-action="@{/action}" data-th-object="${newTransaction}" method="post">

            <div class="btns-wrapper label-wrapper">
                <label th:text="'Source coin: '" class="source-coin-label"/>
                <label th:text="'Target coin: '" class="target-coin-label"/>
            </div>

            <div class="transaction-view">
                <select class="symbol-select select-bkg-old" id="oldCoinSold" name="oldCoin"
                        th:field="*{oldCurrencySymbol}">
                    <option th:each="coin : ${superCoinList}" th:value="${coin.getCoinId()}"
                            th:text="${coin.getCoinSymbol()}">
                    </option>
                </select>
                <div class="transaction-view-borders">
                    <input placeholder="Amount" type="number" step=0.01 th:field="*{transactionAmount}"/>
                </div>
                <select class="symbol-select select-bkg-new" id="newCoinSold" name="newCoin"
                        th:field="*{newCurrencySymbol}">
                    <option th:each="coin : ${superCoinList}" th:value="${coin.getCoinId()}"
                            th:text="${coin.getCoinSymbol()}">
                    </option>
                </select>
            </div>
            </br>
            <div class="btns-wrapper">
                <button class="submit transaction-submit sell" type="submit" name="action" value="buy">Sell</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>