<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<html>
<head>
    <link th:href="@{/styles/styles.css}" rel="stylesheet" />
    <title>Wallet Details</title>
</head>
<body class="details-body">

<h2 class="hello-title" th:text="'Hello, ' + ${user.getUserName()} + '!'"></h2>
<div class="details-wrapper">
    <div th:if="${myAssetsList.isEmpty()}" >No assets.</div>
    <table th:if="${!myAssetsList.isEmpty()}"  style="border: 2px solid cyan">
        <tbody>
          <tr th:each="asset: ${myAssetsList}">
            <td th:text="${asset.coinId}" />
            <td th:text="${asset.coinAmount}" />
          </tr>
        </tbody>
    </table>

        <form action="#" data-th-action="@{/action}" data-th-object="${newTransaction}" method="post">

            <button type="submit" name="action" value="buy">Buy</button>
            <button type="submit" name="action" value="exchange">Exchange</button>

            <table border="1">
                <tr>
                    <td><label th:text="'Buy: '" /></td>
                    <td><input type="text" th:field="*{oldCurrencyId}" /></td>
                </tr>
                <tr>
                    <td><label th:text="'Amount: '" /></td>
                    <td><input type="double" th:field="*{transactionAmount}" /></td>
                </tr>
                <tr>
                    <td><label th:text="'Target coin: '" /></td>
                    <td><input type="text" th:field="*{newCurrencyId}" /></td>
                </tr>
            </table>
        </form>
</div>

</body>
</html>