body {
  background: #ffffff url('dogecoin-logo.svg') no-repeat;
  background-size: 50vw;
  background-attachment: fixed;
  background-position: center;
}
.details-body::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.4;
      z-index: -2;
      background-color: #f0f8ff;
    }
.myClass {
  color: red;
}

.details-wrapper {
  width: 80vw;
  height: 80vh;
  background-color: transparent;
  margin: auto;
}
.login-title-wrapper {
  position: absolute;
  top: 31%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
h2 {
text-align: center;
}
h3 {
    margin-bottom: 0;
}
.error-title {
    text-align: center;
    color: red;
}
.center {
  margin: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login-center {
  top: 52%;
}
input {
  border: none;
  height: 1.5rem;
  border-radius: 4px;
  padding-left: 5px;
}
.register-form {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}
.table {
  border-radius: 4px;
  background-color: #BA9F33;
  border-color: #7B6B2A;
}
.register-form td,
.register-form th {
  border: 1px solid #ddd;
  padding: 8px;
}

.register-form tr:hover {
  background-color: #988430;
}
.register-form th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}

.submit {
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  border: 1px solid;
  margin: 10% auto;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 2rem;
  width: 35%;
  background-color: #BA9F33;
}
.submit:hover {
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}
a {
    color: blue;
    text-decoration: none;
}
.bredc-decoration {
font-size: 0.8rem;
    font-weight: 900;
}
.anchor-position {
top: 65%;
font-size: 1.2rem;
}
a:hover {
color: #b58634;
}
.asset-container {
display: flex;
flex-direction: column;
}
.asset-container > h3 {
margin-top: 0;
}
.table-asset {
font-size: 1.5rem;
background-color: #5f658bb8;
color: #fff;
text-align: center;
}
.cell-width {
width: 180px;
}
.cell-amount {
text-align: end;
}
.transaction-form-wrapper {
    display: flex;
    margin: 1% 0;
    justify-content: space-between;
    padding-top: 6%
}
.symbol-select {
    font-size: 2rem;
    color: #fff;
    min-width: 100px;
}
.transaction-form-wrapper > form > .transaction-view > .transaction-view-borders > input {
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 2rem;
    align-self: center;
    margi-top: 5px;
    text-align: right;
    min-width: 250px;
    max-width: 15vw;
    padding: 5px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.transaction-view {
    border-radius: 5px;
    background-color: #fff;
    outline: none;
    padding: 0;
    margin: 5px 0;
    display: inline-flex;
}
.transaction-view-borders {
    border-top: 1px solid #2929f8;
    border-bottom: 1px solid #2929f8;
    outline: none;
    padding-top: 5px;
}
.border-radius-left {
    border-radius: 8px 0 0 8px;
}
.border-radius-right {
    border-radius: 0 8px 8px 0;
}
img {
max-width:  40px;
  height: auto;
}
.select-bkg-old {
    background-color: #008b8b;
    cursor: pointer;
}
.select-bkg-new {
    background-color: #4169e1;
    cursor: pointer;
}
.btns-wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-weight: 700;
}
.label-wrapper {
    justify-content: space-between;
}
.transaction-submit {
    position: inherit;
    margin: 3%;
    width: 20%;
    transform: none;
    border-radius: 5px;
}
.buy {
background-image:  linear-gradient(to left, #008b8b , #4169e1);
}
.exchange {
background-image:  linear-gradient(to right, #008b8b , #4169e1);
}
.asset-history-container {
    display: flex;
    justify-content: space-between;
}
.history-container > h3,
 .asset-container > h3 {
    margin: 0;
}
.history-container {
    width: 60%;
    height: 255px;
    background-color: #7fffd4a3;
}